<div class="p-grid p-jc-center">
  <div class="p-col-12 p-md-6 p-lg-5"><span class="logo">Gig Inventory</span></div>
  <div class="p-col-12 p-md-6 p-lg-1"><a class="links" routerLink="home">Home</a></div>
  <div class="p-col-12 p-md-6 p-lg-1"><a class="links">About US</a> </div>
  <div class="p-col-12 p-md-6 p-lg-1"><a class="links">Services</a></div>
  <div class="p-col-12 p-md-6 p-lg-1"><a class="links">Portfolio</a></div>
  <div class="p-col-12 p-md-6 p-lg-1"><a class="links">Team</a></div>
  <div class="p-col-12 p-md-6 p-lg-1"><a class="links">Contact</a></div>
</div>
<router-outlet></router-outlet>